@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=STIX+Two+Text&display=swap');
header {
  background: url(../img/background.png) no-repeat;
  width: 1519px;
  height: 830px;
}
.header-top-menu {
  display: flex;
  justify-content: space-around;
}
.menu-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}
.header-menu {
  /* position: fixed; */
  padding-top: 58px;
  /* width: 1519px; */
}
.header-top-menu-center {
  display: flex;
}
.header-top-menu-center li {
  padding-right: 40px;
}
.header-top-menu-end {
  display: flex;
}
.header-top-menu-end img {
  padding-right: 10px;
}
.hr {
  width: 72px;
  height: 2px;
  left: 0px;
  top: 10px;
  background: #fbd784;
  margin-right: 32px;
}
.subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}
.container-content-aside{
  display: flex;
  flex-direction: column;
  height: 2400px;
  background: #354147;
  justify-content: space-evenly;
}
.content-aside-right{
  width: 500px;

}
.content-aside-left img{
  width: 400px;
  height: 300px ;
}
.flex-image{
  display: flex;
  flex-direction: column;
}
.flex-image img{
  width: 350px;
  height: 250px;
  margin-top: 30px;
}
.container-content-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 1519px;
  height: 650px;
  background: #f6f6f8;
}
.aside-content-flex{
  display: flex;
  justify-content: space-evenly;
}
.content-aside-right p{
  font-family: "STIX Two Text";
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 77px;
color: #FBD784;
}
.content-aside-right div{
  font-family: "Roboto";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 32px;
color: #ddcbcb;
}
.content-aside-right span{
  color:#f48e0b;
}
.heading-content-main {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}
.heading-header {
  font-family: "Chronicle Display";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 80px;
  text-transform: capitalize;
  color: #ffffff;
  width: 600px;
  text-align: center;
}
.hr-subtitle{
  display: flex;
  align-items: center;
}
.text-p{
  font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #FFFFFF;

}
.text-p::after{
  content: "↓";
  width: 20px;
  height: 20px;
   padding-left: 5px;
}
.content-header{
  display: flex;
  height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.content-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.img_and_text {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.img_and_text p {
  padding-left: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  color: #999999;
}
.icon {
  font-size: 24px;
}
.icon-image {
  font-size: 24px;
  color: rgb(72, 11, 241);
}
.content-main-advantages {
  display: flex;
  justify-content: center;
}

.text-advantages {
  font-weight: bold;
}

footer {
  background: #232e33;
  width: 1519px;
  height: 600px;
}
.content-footer {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
  align-items: flex-end;
}
.contact__right-side {
  box-sizing: border-box;
}
.contact__title {
  width: 300px;
  padding: 24px 17px 17px;
  background-color: #333333;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}

.contact__title .colored {
  color: #f48e0b;
}
.contact__left-side .contact__title {
  max-width: 383px;
}

.contact-us__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #505050;
  margin: 15px 0 25px;
}
.contact-us__form input {
  border: 1px solid #929292;
  padding: 21px 13px;
  margin-bottom: 19px;
  flex-grow: 1;
}

.contact-us__form .form-group input:not(:last-child) {
  margin-right: 25px;
}
.contact-us__form textarea {
  display: block;
  width: 100%;
  margin-bottom: 21px;
  min-height: 187px;
  box-sizing: border-box;
  padding: 21px 14px;
}
.contact-us__form button:not(:last-child) {
  margin-right: 20px;
}
.contact-us__form button {
  padding: 16px 40px;
  border: none;
  cursor: pointer;
}
.contact-us__form {
  width: 574px;
}
.form-group {
  display: flex;
}
.contact-us__list .icon {
  background-color: #333;
  color: #f48e0b;
  width: 39px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin-right: 11px;
}
.contact-us__list {
  margin-bottom: 35px;
}
.contact-us__item:not(:last-child) {
  margin-bottom: 6px;
}
.contact-us__item a,
.contact-us__item {
  text-decoration: none;
  color: #505050;
  font-weight: 300;
  font-size: 14px;
  font-family: "Lato";
}
.contact__social {
  display: flex;
  margin-top: 26px;
}
.contact__social-item .icon {
  width: 46px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  color: #fff;
  background-color: #f1ad1d;
}
.contact__social-item:not(:last-child) {
  margin-right: 13px;
}
.contact__social-item:hover {
  box-shadow: 0 0 25px -7px #333;
}
